.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  padding: 5px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  border: solid black 1px;
}
