.div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.title {
  padding-top: 30px;
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
.subtitle {
  font-size: larger;
  margin-bottom: 20px;
  text-align: center;
}
.contacts_div {
  width: 70%;
}
.form_div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}
