.div {
  max-height: calc(100vh - 76px);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.title {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: xx-large;
  text-align: center;
}
.subtitle {
  font-size: larger;
  margin-bottom: 20px;
  text-align: center;
}
.contacts_div {
  width: 100%;
}
