.div {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.icon {
  width: 40%;
  height: auto;
}
.title {
  font-size: 60px;
}
.svg {
  width: 40%;
  height: auto;
}
.content_wrapper {
  width: 60%;
  display: flex;
  gap: 20px;
}
.text {
  font-size: 150%;

  font-style: italic;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
