.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border: solid black 1px;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
}
.button {
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text {
  display: block;
  padding-left: 20px;
  position: relative;
  margin: 0;
  text-wrap: wrap;
}
.icon {
  position: absolute;
  left: 0;
  top: 2px;
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
}
